service: goldmemberManager
useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: ap-southeast-1
  memorySize: 256
  timeout: 20
  environment:
    STAGE: ${self:provider.stage}
    SYS_NAME: ${env:SYS_NAME}
    API_KEY: ${env:API_KEY}
    KS_API_KEY: ${env:KS_API_KEY}
    REFRESH_KEY: ${env:REFRESH_KEY}
    MONGO_USER: ${env:dbuser}
    MONGO_PASS: ${env:dbpass}
    MONGO_HOST: ${env:dbhost}
    MONGO_DB: ${env:dbase}
    MONGO_PORT: ${env:dbport}
    MONGO_REPLICA_SET: ${env:dbreplicaset}
    SESSION_SECRET: ${env:SESSION_SECRET}
    SALT_ROUNDS: ${env:SALT_ROUNDS}
    DEVICE_KEY: ${env:DEVICE_KEY}
    FILE_PROXY: ${env:file_proxy}
    SECRET_BYTES: ${env:SECRET_BYTES}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:*
        - SNS:*
        - lambda:InvokeFunction
      Resource: "*"
    #       - "ec2:CreateNetworkInterface"
    #       - "ec2:DescribeNetworkInterfaces"
    #       - "ec2:DetachNetworkInterface"
    #       - "ec2:DeleteNetworkInterface"
  vpc:
    securityGroupIds:
      - sg-095b2b1413b952e58
    subnetIds:
      - subnet-08419e89d2e5af3d9
      - subnet-02012683035c7cd9c
      - subnet-01de66359170766c4
  apiGateway:
    binaryMediaTypes:
      - '*/*'

package:
  individually: true

plugins:
  - serverless-plugin-typescript
  - serverless-offline
custom:
  serverless-offline:
    httpPort: 3000
    autostart: true
  dotenv:
    path: .env
#  dynamodb:
#    stages: "dev"
#    start:
#      port: 8000
#      inMemory: true

functions:
  main:
    handler: src/lambda.handler
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors:
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
              - WWW-AUTH
              - Accept
              - Content-Disposition
              - Content-Encoding
      - http:
          path: /
          method: ANY
          cors:
            headers:
              - Content-Type
                - X-Amz-Date
                - Authorization
                - X-Api-Key
                - X-Amz-Security-Token
                - X-Amz-User-Agent
                - WWW-AUTH
                - Accept
                - Content-Disposition
                - Content-Encoding
  CouponAutoIssue:
    handler: src/utils/coupons/coupons-auto-issue.couponsAutoIssue
    timeout: 60
    events:
      - schedule: "cron(5 21 * * ? *)"
          # - cron(5 15 * * ? *)
          #rate: rate(3 hours)
  CouponExpiredCheck:
    handler: src/utils/coupons/coupons-expired-check.couponsExpiredCheck
    timeout: 60
    events:
      - schedule: "cron(5 20 * * ? *)"
          #rate: rate(1 day)
          # - cron(2 12 * * * ?)
          # rate: 
          #timezone: Asia/Taipei
  GetGovHolidays:
    handler: src/utils/holidays/get-gov-holidays-info.getGovHolidaysInfo
    timeout: 60
    events:
      - schedule: "rate(30 days)"
  # DumpDbToS3:
  #   handler: src/utils/database/dump-to-s3.DumpToS3
  #   timeout: 300
  #   events:
  #     - schedule: "rate(5 minutes)"